*{
    margin: 0;
}

.alert-page-container{
    width: 750px;
    margin:140px 0px 0px 270px;
}

.notification{
    font-family: 'HelveticaNowDisplay-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #272643;
    margin-top: 35px;
}

.notification-flex{
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}

.residence_search{
    position: absolute;
    width: 377px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #A6AAB4;
    border-radius: 10px;
    outline: none;
}

.alert-details-flex{
    margin-top: 91px;
    width: 1150px;
}

.alert-details-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-text{
    font-family: 'HelveticaNowText-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #272643;
}

.house-address-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.confirm-alert{
    padding: 7px 19px;
    gap: 10px;
    width: 90px;
    height: 34px;
    background: #1877F2;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
}

.decline-alert{
    padding: 7px 19px;
    width: 90px;
    height: 34px;
    background: #F8F8FB;
    border-radius: 4px;
    border-color:#f6819b;
    color: #f6819b;
}

